{% extends 'base.html.twig' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/user/forgot-password-styles.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if errors is defined and errors is not empty %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let errorMessages = "{{ errors|join('<br>')|raw }}";
                Swal.fire({
                    icon: 'error',
                    title: '¡Error en el formulario!',
                    html: errorMessages,
                    showCloseButton: true,
                    showConfirmButton: true,
                    confirmButtonColor: "var(--secondary)",
                    confirmButtonText: "¡Entendido!"
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid page">
        <div class="d-row justify-content-center">
            <div class="col-11 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Recuperar contraseña</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center mb-4">Introduce tu correo electrónico y te enviaremos un enlace para
                            restablecer tu contraseña.</p>

                        <form method="post">
                            {# Token CSRF generado manualmente #}
                            <input type="hidden" name="_token" value="{{ csrf_token('forgot_password') }}">

                            <div class="form-outline mb-3">
                                <input type="email" id="email" name="email" required
                                       class="form-control" value="{{ last_email|default('') }}"/>
                                <label class="form-label" for="email">Correo Electrónico</label>
                            </div>

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-submit">Enviar enlace</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="user-links">
                    <div class="mt-3 text-start">
                        <a href="{{ path('user_login') }}">Volver al inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}