{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/user/login-styles.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if error %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: "error",
                    title: "¡Error de acceso!",
                    text: "{{ error.messageKey|trans(error.messageData, 'security') }}",
                    confirmButtonText: "¡Entendido!",
                    confirmButtonColor: "var(--secondary)",
                    showCloseButton: true,
                });
            });
        </script>
    {% endif %}

    {% if errors is defined and errors is not empty %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let errorMessages = "{{ errors|join('<br>')|raw }}";
                Swal.fire({
                    icon: 'error',
                    title: '¡Error en el formulario!',
                    html: errorMessages,
                    showCloseButton: true,
                    showConfirmButton: true,
                    confirmButtonColor: "var(--secondary)",
                    confirmButtonText: "¡Entendido!"
                });
            });
        </script>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    let icon = "info";
                    let title = "Información";

                    {% if label == 'success' %}
                    icon = "success";
                    title = "¡Excelente!";
                    {% elseif label == 'error' %}
                    icon = "error";
                    title = "¡Error!";
                    {% elseif label == 'warning' %}
                    icon = "warning";
                    title = "¡Espera!";
                    {% endif %}

                    Swal.fire({
                        icon: icon,
                        title: title,
                        text: "{{ message }}",
                        confirmButtonText: "¡Entendido!",
                        confirmButtonColor: "var(--secondary)",
                        showCloseButton: true,
                    });
                });
            </script>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container-fluid page">
        <div class="d-row justify-content-center">
            <div class="col-11 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Iniciar sesión</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-outline mb-3">
                                <input type="email" id="{{ loginForm._username.vars.id }}"
                                       name="{{ loginForm._username.vars.full_name }}" required
                                       class="form-control {% if loginForm._username.vars.errors|length > 0 %}is-invalid{% endif %}"
                                       value="{{ loginForm._username.vars.value }}"/>
                                <label class="form-label" for="{{ loginForm._username.vars.id }}">Correo
                                    Electrónico</label>
                                {% if loginForm._username.vars.errors|length > 0 %}
                                    <div class="invalid-feedback">
                                        {% for error in loginForm._username.vars.errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="{{ loginForm._password.vars.id }}"
                                       name="{{ loginForm._password.vars.full_name }}" required
                                       class="form-control {% if loginForm._password.vars.errors|length > 0 %}is-invalid{% endif %}"/>
                                <label class="form-label" for="{{ loginForm._password.vars.id }}">Contraseña</label>
                                {% if loginForm._password.vars.errors|length > 0 %}
                                    <div class="invalid-feedback">
                                        {% for error in loginForm._password.vars.errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            {#  <div class="form-check my-4">
                                <input class="form-check-input {% if loginForm.privacy.vars.errors|length > 0 %}is-invalid{% endif %}"
                                       type="checkbox" id="{{ loginForm.privacy.vars.id }}"
                                       name="{{ loginForm.privacy.vars.full_name }}" required
                                       {% if loginForm.privacy.vars.checked %}checked="checked"{% endif %} />
                                <label class="form-check-label" for="{{ loginForm.privacy.vars.id }}">
                                    He leído y acepto las
                                    <a href="#" data-mdb-toggle="modal" data-mdb-target="#condiciones-de-uso">
                                        condiciones de uso
                                    </a>
                                    y
                                    <a href="#" data-mdb-toggle="modal" data-mdb-target="#politica-de-privacidad">
                                        privacidad.
                                    </a>
                                </label>
                                {% if loginForm.privacy.vars.errors|length > 0 %}
                                    <div class="invalid-feedback">
                                        {% for error in loginForm.privacy.vars.errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div> #}

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-login">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="user-links">
                    <div class="mt-3 text-start">
                        <a href="{{ path('user_forgot_password') }}">Recuperar contraseña</a>
                    </div>
                    <div class="text-start">
                        <a href="{{ path('user_register') }}">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}