{% extends 'base.html.twig' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/user/reset-password-styles.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if errors is defined and errors is not empty %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                let errorMessages = "{{ errors|join('<br>')|raw }}";
                Swal.fire({
                    icon: 'error',
                    title: '¡Error en el formulario!',
                    html: errorMessages,
                    showCloseButton: true,
                    showConfirmButton: true,
                    confirmButtonColor: "var(--secondary)",
                    confirmButtonText: "¡Entendido!"
                });
            });
        </script>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    let icon = "info";
                    let title = "Información";

                    {% if label == 'success' %}
                    icon = "success";
                    title = "¡Excelente!";
                    {% elseif label == 'error' %}
                    icon = "error";
                    title = "¡Error!";
                    {% elseif label == 'warning' %}
                    icon = "warning";
                    title = "¡Espera!";
                    {% endif %}

                    Swal.fire({
                        icon: icon,
                        title: title,
                        text: "{{ message }}",
                        confirmButtonText: "¡Entendido!",
                        confirmButtonColor: "var(--secondary)",
                        showCloseButton: true,
                    });
                });
            </script>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="container-fluid page">
        <div class="d-row justify-content-center">
            <div class="col-11 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Restablecer contraseña</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center mb-4">Crea una nueva contraseña para tu cuenta.</p>

                        <form method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('reset_password') }}">

                            <div class="form-outline mb-3">
                                <input type="password" id="{{ resetPasswordForm.plainPassword.first.vars.id }}"
                                       name="{{ resetPasswordForm.plainPassword.first.vars.full_name }}" required
                                       class="form-control {% if resetPasswordForm.plainPassword.first.vars.errors|length > 0 %}is-invalid{% endif %}"/>
                                <label class="form-label" for="{{ resetPasswordForm.plainPassword.first.vars.id }}">Nueva
                                    Contraseña</label>
                                {% if resetPasswordForm.plainPassword.first.vars.errors|length > 0 %}
                                    <div class="invalid-feedback">
                                        {% for error in resetPasswordForm.plainPassword.first.vars.errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="{{ resetPasswordForm.plainPassword.second.vars.id }}"
                                       name="{{ resetPasswordForm.plainPassword.second.vars.full_name }}" required
                                       class="form-control {% if resetPasswordForm.plainPassword.second.vars.errors|length > 0 %}is-invalid{% endif %}"/>
                                <label class="form-label" for="{{ resetPasswordForm.plainPassword.second.vars.id }}">Repetir
                                    Contraseña</label>
                                {% if resetPasswordForm.plainPassword.second.vars.errors|length > 0 %}
                                    <div class="invalid-feedback">
                                        {% for error in resetPasswordForm.plainPassword.second.vars.errors %}
                                            {{ error.message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-submit">CAMBIAR CONTRASEÑA</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}